.Card{
    background-image: url('../../assets/img/bg-main-mobile.png');
    width: 100vw;
    height: 200px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 20px;
    font-size: 14px;
}

.card_box{
    width: 100%;
    max-width: 350px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.Card .behind_card{
    background-image: url('../../assets/img/bg-card-back.png');
    width: 250px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
}

.Card .behind_card .cvv{
    position: relative;
    top: 15%;
    left: 75%;
    color: #fff;
    letter-spacing: 2px;
}

.Card .front_card{
    background-image: url('../../assets/img/bg-card-front.png');
    z-index: 99;
    width: 250px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 55%;
    left: 0%;
    padding: 20px 23px;
    color: #fff;
}

.Card .front_card img{
    width: 60px;
}

.Card .front_card .card_information{
    width: 100%;
    text-align: center;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Card .front_card .card_information .number_card span {
    letter-spacing: 3px;
    font-size: 13px;
    
}

.Card .front_card .card_information .number_card{
    width: 100%;
    margin-bottom: 10px;
}

.Card .front_card .card_information span{
    color: #fff;
    letter-spacing: 2px;
    font-size: 12px;
}